[Unit]
Description=My Blazor App

[Service]
WorkingDirectory=/var/www/myblazorapp
ExecStart=/usr/bin/dotnet /var/www/myblazorapp/FleetPortal.dll

Restart=always
RestartSec=10  # Restart service after 10 seconds if the dotnet service crashes

SyslogIdentifier=dotnet-example

User=myblazorapp-svc

Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=DOTNET_BACKEND_ENDPOINT=http://BACKEND_PLACEHOLDER

[Install]
WantedBy=multi-user.target
